*{
  padding:0;
  margin:0;
  border: 1px solid green;
}

.background {
  background-image: url(img/webBack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
